* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover,
.menu-form__filters nav button:hover,
.menu-form__filters form button:hover,
.product-cards button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.logo {
  color: #a27b5c;
}

.nav-buttons {
  display: flex;
  gap: 24px;
}

.nav-button__base {
  padding: 12px 16px;
  font-size: 1.5em;
}

.nav-button__cart {
  background-color: #a27b5c;
  color: #fff;
  border: 1px solid #a27b5c;
}

.nav-button__signin {
  background-color: #fff;
  color: #a27b5c;
  border: 1px solid #a27b5c;
}

.product-card__heading {
  text-transform: capitalize;
  width: fit-content;
  font-size: 1.75em;
  font-weight: 500;
  color: #121212;
}

.product-card__subheading {
  margin-top: 8px;
  width: fit-content;
  font-size: 1.5em;
  letter-spacing: 0.3px;
  color: #7f7f7f;
}

.product-card__price {
  margin-top: 16px;
  width: fit-content;
  font-weight: 500;
  font-size: 2.125em;
  color: #121212;
}

.product-card__ad {
  margin-top: 8px;
  width: fit-content;
  font-size: 1.5em;
  letter-spacing: 0.3px;
  color: #a27b5c;
}

header {
  margin: 36px 0;
  padding: 36px 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

header li a {
  color: #121212;
  font-size: 1.25em;
  letter-spacing: 0.75px;
}

.menu {
  margin-top: 80px;
  padding: 36px 124px;
}

.menu-hero h1 {
  font-size: 4.875em;
  font-weight: 500;
  width: fit-content;
}

.menu-hero p {
  margin-top: 32px;
  width: 70%;
  letter-spacing: 0.5px;
  text-align: justify;
}

.menu-form__filters {
  margin-top: 48px;
  font-size: 1.125em;
  line-height: 140%;
}

.menu-form__filters form {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  align-items: start;
}

.menu-form__filters form div {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  gap: 8px 12px;
  align-items: center;
}

.menu-form__filters form label {
  grid-column: 1;
  grid-row: 1;
}

input,
select {
  margin-top: 8px;
  grid-column: 1 / -1;
  grid-row: 2;
  padding: 16px;
  font-size: 0.875em;
}

.menu-form__filters form button {
  grid-column: 3;
  grid-row: 1;
  outline: none;
  border: none;
  background-color: #fff;
  color: #7f7f7f;
}

.menu-form__filters nav {
  margin-top: 48px;
  padding: 32px;
}

.menu-form__filters nav ul {
  display: flex;
  justify-content: space-around;
}

.menu-form__filters nav button {
  outline: none;
  border: none;
  background-color: #fff;
  color: #121212;
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.product-cards {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-cards ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.product-card {
  position: relative;
  width: 300px;
}

.product-card__label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 12px 20px;
  background-color: #f14c35;
  color: #fff;
  text-transform: uppercase;
}

.product-card__image {
  width: 100%;
  height: 300px;
}

.product-cards button {
  margin-top: 48px;
}

footer {
  margin-top: 48px;
  padding: 56px 124px;
  text-align: center;
  background-color: #121212;
  color: #fff;
}

footer h2 {
  font-size: 4em;
  font-weight: 400;
}

footer p,
hr {
  margin-top: 16px;
}

.socials {
  margin-top: 16px;
}

.socials-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
}

.download {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 26px;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25em;
  color: #a27b5c;
}

.copyright ul {
  display: flex;
  align-items: center;
  gap: 26px;
}

.copyright a {
  color: #a27b5c;
}
